/*style for introduction page*/
.intro{
    display: flex;
    height: 100vh;
    width: 100vw;
    /* clip-path: polygon(71% 0, 100% 0%, 100% 100%, 70% 100%, 53% 49%);  */
   justify-content: center;
   align-items: center;
   background-position: center;
   background-size: cover;
    background-repeat: no-repeat;
    
}
.introWrapper{
    background-color: black;
    height:60%;
    width:50%;
    /* box-shadow: red 0px 5px 15px; */
    box-shadow:   #E0AAFF 0px 5px 15px;
    display:flex;
    border: solid #E0AAFF(150, 47, 47, 0.4);
    
}

.introR{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
  
   
    
    
}
.introL{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
 .introLBox{
    padding:60px;
    /* height: 50%; */
    
    /* border: solid purple; */
    display: flex;
    flex-direction: column;
    background-color: #1b1f22;;
    /* justify-content: space-between; */
    /*box-shadow: 0px 17px 10px -10px rgba(150, 47, 47, 0.4);*/
    /* box-shadow: 5px 5px 0 rgba(0,0,0,0.25); */
    /* box-shadow: 10px 5px 5px red;*/
} 

.introRBox{
    background-color: #1b1f22;
    display: flex;
    justify-content: center;
    align-items: center;
    height:30%;
    width:70%;
    /* box-shadow: 0px 17px 10px -10px rgba(150, 47, 47, 0.4); */
    /* box-shadow:  rgba(150, 47, 47, 0.4)0px 5px 15px; */
} 

.introSentence{
    font-size: 35px;
    font-weight: 300;
    color:  #E0AAFF;
}
.introName{
    font-size: 60px;
    color: #E0AAFF ; 
}
.titles{
    margin-top: 10px;
    height: 50px; 
    overflow: hidden;
    
}
.titlesBox{
    height: 100%;
    animation: action 10s ease-in-out infinite alternate;
}
@keyframes action {
    50%{
        transform: translateY(-50px)
    }
    100%{
        transform: translateY(-100px)
    }

}
.item{
    height:50px;
    font-size: 30px;
    font-weight: bold;
    color: #F76304;
    display: flex;
    align-items:center;
}


.projectArea{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 50rem ;
    justify-content: space-evenly;
    align-content: center;
    row-gap: 6em;
    column-gap: 4rem;
    overflow: scroll;
    border: solid blue;

   
  

}
 
.introR{
    
    /* background-color: #BF953F;
    background-color: linear-gradient(to right, #BF953F, #FCF6BA,#B38728,#FBF5B7 ); */
    width: 100%;
    height: 100%;
    /* clip-path: circle(89.4% at 10% 10%);  */
} 



.homeBckGround {
    background-size: cover;
    background-repeat: no-repeat;
   height: 55rem ;
   width: 91.25rem;
   background-position: center;
  margin-top: 3rem;
  
}

/* styling buttons */
.buttonsArea{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 30px;
    
    
}
.topButtons{
    display: flex;
    column-gap: 30px;

}
.bottomButtons{
    display: flex;
    column-gap: 30px;

}

 
.button{

        display: inline-block;
     /*    background: #3f1651 !important; 
        background: #E0AAFF !important;
        
        background: #C77DFF !important;
          
       background: #7B2CBF !important;
        background: #58189A !important;
        background: #3C096C !important; */
       
        background: #9D4EDD !important;
       
        

        border:none !important;
        color: #fff;
        text-transform: uppercase;
        padding: 20px 30px;
        border-radius: 5px;
        box-shadow: 0px 17px 10px -10px  #9D4EDD ;
        cursor: pointer;
        -webkit-transition: all ease-in-out 300ms;
        transition: all ease-in-out 300ms;
}
.button :hover {
        box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
        -webkit-transform: translate(0px, -10px) scale(1.2);
                transform: translate(0px, -10px) scale(1.2);
}

/* styles for modal*/

.modalTitle{
    color: #E0AAFF !important;
    display:flex !important;
    justify-content: center !important;
}
/*  .modal{

    height: 50vh;
    border: solid red;
    max-width: 100vw;
   
}  */
.modalWrapper{
    border:solid blue;
    height:100% !important;
    background-color: blue;
}
.modal-dialog{
    max-width: none !important;
    height: 80vh;
  
    box-shadow:   #E0AAFF 0px 5px 15px;
    width:70vw !important;
   /* max-width:fit-content;*/
    margin-top: 10rem !important;
    background-color: black;
    background-color: rgba(150, 47, 47, 0.4)
}

.modalHeader{
    background-color:#121212;
    text-align: center;
    /* border: solid  #E0AAFF */
}
.modalBody{
    
    /* border:solid yellow; */
    max-height:100% !important;
    background-color:  #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid  #E0AAFF */
    
}

.modal-content{
    height:100% !important;
    width:100% !important;
    
}

/*styles for about*/
.aboutWrapper{
    display:flex;
    justify-content: center;
    align-items:center;
    height: 100%;
    width:100%;
}
.card{

    background-color: #1b1f22 !important;
    box-shadow:   #000 0px 5px 15px;
   
    color:#abb8c3 ;
 /* background-color: rgb(189, 135, 213) !important;  */

}
.skills{
    color:#E0AAFF ;
    background-color: #1b1f22;
    padding-right: 15px;
    border: none;
    
}

/* styles for experience */
.projectCard{

    height: 80% !important;
}
.projectBtns {
    background-color: #E0AAFF;
    
   
}
.projectAnchor{
    text-decoration: none;
    color: black ;
}
.projectBtnWrapper{
    display:flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

/* styles for resume*/
.resume{
    border: solid red;
    height: 95%;
}

/* styles for contact*/
.contactBody{
    border: solid blue;
    display:flex;
    justify-content: space-evenly;
    
}

.contactForm{
    border: solid red;
    height:50%;
    width:30%;
}
.contactBtns{
    border:solid green;
    height:50%;
    width:30%;
}