/*style for introduction page*/
.intro {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.introWrapper {
    background-color: black;
    height: 70%;
    width: 60%;
    box-shadow: #E0AAFF 0px 5px 15px;
    display: flex;
    border: solid #E0AAFF(150, 47, 47, 0.4);
}

/* 
 .introR{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: red;
}

.introL{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue; 
} */
.introLBox {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding:60px; */
    padding: 20px;
    flex-direction: column;
    background-color: black;
}

.introRBox {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /*  height:30%;
    width:70%; */
}

.buttonsSmallScreenSize {
    display: none;
}
.smallScreenProjects{
    display: none;

}

.introSentence {
    font-size: 35px;
    font-weight: 300;
    color: #E0AAFF;
}

.introName {
    font-size: 60px;
    color: #E0AAFF;
}

.titles {
    margin-top: 10px;
    height: 50px;
    overflow: hidden;


}

.titlesBox {
    height: 100%;
    animation: action 10s ease-in-out infinite alternate;

}

@keyframes action {
    50% {
        transform: translateY(-50px)
    }

    100% {
        transform: translateY(-100px)
    }
}

.item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: silver;
    display: flex;
    align-items: center;
}

.introR {
    width: 100%;
    height: 100%;
}

.homeBckGround {
    background-size: cover;
    background-repeat: no-repeat;
    height: 55rem;
    width: 91.25rem;
    background-position: center;
    margin-top: 3rem;

}

/* styling home page buttons */
.buttonsArea {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 30px;
}

.topButtons {
    display: flex;
    column-gap: 30px;
}

.bottomButtons {
    display: flex;
    column-gap: 30px;

}

.button {

    display: inline-block;
    background: #9D4EDD !important;
    border: none !important;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px #9D4EDD;
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}

.button :hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.2);
    transform: translate(0px, -10px) scale(1.2);
}

/* styles for modal*/
.modalTitle {
    color: #E0AAFF !important;
    display: flex !important;
    justify-content: center !important;
    font-size: 30px;
}

.modal {
    height: 100vh;
    max-width: 100vw;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}

.modal-dialog {
    max-width: none !important;
    height: 85% !important;
    box-shadow: #E0AAFF 0px 5px 15px;
    width: 85vw !important;
    background-color: black;
}

.modalHeader {
    background-color: #121212;
    text-align: center;
    /* border: solid  #E0AAFF */
}

.modalBody {
    /* border:solid yellow; */
    max-height: 100% !important;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.modal-content {
    height: 100% !important;
    width: 100% !important;
}

/*styles for about*/
.aboutWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.card {
    background-color: #1b1f22 !important;
    box-shadow: #000 0px 5px 15px;
    color: #abb8c3;
}

.skills {
    color: #E0AAFF;
    background-color: #1b1f22;
    /*  padding-right: 15px;
    border: none;  */
    list-style: none;
    margin: 0;
    border: 0;



}

.skillItem {
    display: block;
    text-align: center;
    float: left;
    padding-right: 16px;
    text-decoration: none;
    margin: 0;
    border: 0;
}

/* styles for experience */
.projectArea {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    row-gap: 6em;
    column-gap: 4rem;
    overflow: scroll;
    justify-content: center !important;
    align-items: center !important;
  
}

.projectCard {
    display:flex;
    max-height: 100% !important;
    overflow: scroll;
    margin: auto;
}

.projectBtns {
    border: solid #E0AAFF !important;
    background-color: #1b1f22 !important;
}

.projectAnchor {
    text-decoration: none;
    color: #E0AAFF !important;
}

.projectBtnWrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

/* styles for resume*/
.resume {
    height: 95%;
}

/* styles for contact*/
.contactBody {
    display: flex;
    flex-direction: column;
}

.contactForm {
    max-height: 80%;
    width: 50%;
    overflow: scroll;
    
}

.contactBtns {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}

.formLabel {
    color: #E0AAFF
}

.submitBtnWrapper {
    display: flex;
    justify-content: center !important;
    width: 100%;
}

.submitBtnForm {
    color: #E0AAFF !important;
    border: solid #E0AAFF !important;
    background-color: #1b1f22 !important;
    width: 30%
}

.formInput {
    background-color: #383838 !important;
    border: none !important;
    color: white !important;
}

/* media queries */
@media screen and (min-width: 1024px) and (max-height: 1310px) { 
    .projectCard{
        max-width: 21rem !important;
    }

}

@media (min-width: 610px) and (max-width: 1000px) {
    .intro {
        overflow: hidden;
    }

    .introWrapper {
        width: 80%;
        height: 85%;
        overflow: hidden;
    }

    .hideItem {
        visibility: hidden;
    }

    .button {
        height: 6.5rem !important;
        width: 6.5rem ! important;
        font-size: 13px !important;
    }

    .modal-dialog {
        margin: auto;
        height: 86% ! important;
        width: 80vw ! important;
    }

    .card {
        margin: auto;
    }

    .titlesBox {
        animation: none !important;
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
    }
    .item {
        font-size: 28px;

    }
    .projectArea{
        row-gap: 2em;
        column-gap: 2rem;
        align-items: flex-start !important;
       
    }

    .projectCard{
        flex-basis: 17rem;
       /* flex-shrink: 1;
        flex-grow: 1;*/
        max-height: 48% !important;
        max-width: "20rem";
    }
    .projectCardText{
        font-size: 12px;
    
    }
    .projectBtns{
        padding:3px 6px !important;
    }
    .projectAnchor{
        font: 12px;
    }
    .projectBtnWrapper{
        margin-top: 0.5rem;
    }
    
}


@media only screen and (max-width: 600px) {

    .intro {
        overflow: hidden;
    }

    .introWrapper {
        width: 75%;
        height: 80%;
        overflow: hidden;
    }

    .introLBox {
        justify-content: center;
    }

    .introRBox {
        display: none;
    }

    .hideItem {
        visibility: hidden;
    }

    .item {
        height: 30px;
        font-size: 20px;
    }

    .tiles {
        height: 25px;
    }

    .introSentence {
        font-size: 25px;
    }

    .introName {
        font-size: 40px;
    }

    .titlesBox {
        animation: none !important;
    }

    .buttonsSmallScreenSize {
        display: flex;
        padding: 0;
        flex-direction: column;
        gap: 15px;
        margin-top: 10%;
        font-size: 12px !important;

    }

    .button {
        padding: 0;
        font-size: 14px !important;
    }

    .modal-dialog {
        margin: auto;
        height: 85% ! important;
        width: 75vw ! important;
    }
    .modalbody{
        display: flex;
        height:90% !important;

    }

    .card {
        margin: auto;
       
    }
    .projectArea{
        display:none;
    }

    .smallScreenProjects{
        display:flex;
        flex-wrap: wrap !important;
        flex-direction: column;
        gap:0.7rem;
        margin:auto;
        height:100%;
    }
    .smallProjectCard{
        height:30%;
        margin: auto;
    }
    .smallScrnCardBody{
        display:flex;
        width:100%;
        height:20% !important;
    
        padding:0 !important;
        gap:2rem;
        justify-content:space-between;

    }
    .projectIcons{
        display:flex;
        /* justify-content:center; */
        gap:0.4rem;
        margin: auto;
    
    }
    .projectTitle{
        color: #E0AAFF !important;
        font-size: small;
        margin:auto;
        
    
    }
    
    .projectCard {
        height: 20% !important;
        border:solid red !important;
        
    }
    .projectBtns{
        padding:1px 3px !important;
    }
    .projectAnchor{
        font: 10px;
    }
    .projectImg{
        height: 20rem !important;
        width: 70% !important;
    }

    .resume {
        height: 95%;
        width: 80%;
        margin: auto !important;
    }

    .contactForm {
        height: 100% !important;
        width: 80%;
        margin: auto;
    }

    .submitBtnForm {
        width: 50%;
    }

    .contactBtns {
        width: 40%;
    }

}